###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea
.vscode
.env
###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
